.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 20px auto;
  width: 450px;
  line-height: 40px;
}
.card-test {
  border: 1px solid;
  padding: 5px;
  margin: 20px auto;
  width: 450px;
  line-height: 40px;
}
.card-header {
  text-align: center;
  padding: 5px;
}
.card-body {
  padding: 5px;
}
.en-word {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 36px;
}
.card-footer {
  display: flex ;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
body {
  font-family: Helvetica, sans-serif;
}
h4,
p,
td {
  text-align: center;
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.stats {
  display: flex;
  justify-content: space-around;
  }
.final-score {
    padding: 5px;
    text-align: center;
  }